<div class="container-fluid">
  <!--left-->
  <div class="col-sm-3">
    <h2>Repositories</h2>
    <div class="panel panel-default">
      <div class="panel-heading">Repo #1</div>
      <div class="panel-body">Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Repo #2</div>
      <div class="panel-body">Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Repo #3</div>
      <div class="panel-body">Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Repo #4</div>
      <div class="panel-body">Content</div>
    </div>
    <hr>
  </div><!--/left-->

  <!--center-->
  <div class="col-sm-6">
    <h2>Recent Activity</h2>
    <div class="row">
      <div class="col-xs-12">
        <h3>Repo Activity</h3>
        <p>commit info</p>
        <p class="lead"><button class="btn btn-default">Details</button></p>
        <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline"><li><a href="#">2 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 2 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 14 Shares</a></li></ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <h3>Repo Activity</h3>
        <p>commit info</p>
        <p class="lead"><button class="btn btn-default">Details</button></p>
        <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline"><li><a href="#">4 Days Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 7 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 56 Shares</a></li></ul>
      </div>
    </div>
    <hr>
    <div class="row">
      <div class="col-xs-12">
        <h3>Article Heading</h3>
        <p>commit info</p>
        <p class="lead"><button class="btn btn-default">Details</button></p>
        <p class="pull-right"><span class="label label-default">keyword</span> <span class="label label-default">tag</span> <span class="label label-default">post</span></p>
        <ul class="list-inline"><li><a href="#">1 Week Ago</a></li><li><a href="#"><i class="glyphicon glyphicon-comment"></i> 4 Comments</a></li><li><a href="#"><i class="glyphicon glyphicon-share"></i> 34 Shares</a></li></ul>
      </div>
    </div>
    <hr>
  </div><!--/center-->

  <!--right-->
  <div class="col-sm-3">
    <h2>Ops</h2>
    <div class="panel panel-default">
      <div class="panel-heading">Title</div>
      <div class="panel-body">Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Title</div>
      <div class="panel-body">Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Title</div>
      <div class="panel-body">Content</div>
    </div>
    <div class="panel panel-default">
      <div class="panel-heading">Title</div>
      <div class="panel-body">Content</div>
    </div>
    <hr>
  </div><!--/right-->
  <hr>
</div>
