<div class="modal fade" id="login-modal" role="dialog" aria-labelledby="login-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h4 class="modal-title" id="login-modal-title">Login</h4>
      </div>
      <div class="modal-body">
        <form>
          <div class="form-group">
            <input id="username" type="text" class="form-control" placeholder="Username" />
            <input id="password" type="password" class="form-control" placeholder="Password" />
          </div>
          <div class="btn-group">
            <button id="login" type="button" class="btn btn-primary" data-dismiss="modal">Login</button>
            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
          </div>
        </form>
      </div>
    </div>
  </div>
</div>
