<div class="modal fade" id="logout-modal" role="dialog" aria-labelledby="logout-modal-title" aria-hidden="true">
  <div class="modal-dialog">
    <div class="modal-content">
      <div class="modal-header">
        <button type="button" class="close" data-dismiss="modal"><span aria-hidden="true">&times;</span><span class="sr-only">Close</span></button>
        <h2 class="modal-title" id="logout-modal-title">Logout?</h2>
      </div>
      <div class="modal-body center-block">
        <p>Do you really wish to logout?</p>
        <div class="btn-group">
          <button id="logout-confirm" class="btn btn-primary" data-dismiss="modal">Yes</button>
          <button id="logout-deny" class="btn btn-default" data-dismiss="modal">No</button>
        </div>
      </div>
    </div>
  </div>
</div>
