body {
  padding-top: 45px;
  padding-right: 0px !important;
}

#navbar-login-btn {
  margin-right: 30px;
}

.alert {
  margin-bottom: 5px;
}

.modal-open {
  overflow-y: auto;
}

.sm {
  margin-bottom: 0px;
}